email-validator==2.2.0
fastapi==0.115.12
fastapi-cli==0.0.7
httptools==0.6.4
httpx==0.28.1
importlib-metadata==8.0.0
itsdangerous==2.2.0
jaraco.collections==5.1.0
orjson==3.10.16
packaging==24.2
pandas==2.2.3
pip-chill==1.0.3
platformdirs==4.2.2
pydantic-extra-types==2.10.3
pydantic-settings==2.8.1
python-multipart==0.0.20
pyyaml==6.0.2
scikit-learn==1.6.1
tomli==2.0.1
torch==2.6.0
ujson==5.10.0
watchfiles==1.0.4
websockets==15.0.1
